@model IEnumerable<BankTransaction>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Transactions";
    var username = @HttpContextAccessor.HttpContext.Session.GetString("username");
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="col-md-6 alert offset-3 text-center">
            @if(TempData["error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>@TempData["Error"]</b></span>
                </div>
            }else
            {
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.FromAccountId)</th>
                                <th>@Html.DisplayNameFor(model => model.ToAccountId)</th>
                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.FromAccountId)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.ToAccountId)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td class="align-middle">
                                    <div class="row">
                                        <a class="btn btn-outline-primary cancel" asp-controller="BankTransaction" asp-action="CancelTransaction"
                                            asp-route-Name=@username asp-route-transactionId=@item.Id asp-route-accountId=@item.FromAccountId>
                                            Cancel Transaction
                                        </a><br>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            <span id="msg"></span>
        </div>
    </div>
</div>

<script src="~/js/CancelTransaction.js" asp-append-version="true"></script>